        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
              <i class="fa fa-map"></i>
                Dirección
            </h3>
                <p>
                    {{poisCtrl.poi.direccion}}
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                <i class="fa fa-cubes"></i>
                Rubro
            </h3>
                <p>
                    {{poisCtrl.poi.rubro.nombre}}
                </p>
            </div>

            <!-- este es extra creo -->
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                <i class="fa fa-clock-o"></i>
                Horario
            </h3>
            <ul>
                <li>{{poisCtrl.poi.horario.inicio}} a {{poisCtrl.poi.horario.fin}}</li>
              </ul>
            </div>
        </div>
