    <div class="banner"></div>

    <!--Main layout-->
    <div class="container-fluid">
        <div class="content">
            <h2 class="content-head is-center">Sobre el Proyecto</h2>
            <div class="row">
                <div class="col-lg-12 is-center">
                  Trabajo practico realizado en el Segundo cuatrimestre 2016 para la materia Algoritmos III, UNSAM.<br>
                  Practica orientada a el desarrollo de una web, utilizando el modelo SPA. Maqueteado y diseñado con html5, CSS3, diversos componentes de CSS como ser Boostrap 3 y creación más adaptación propia.
                  Desarrollado mediante lenguajes de programación como ser javascript(cliente) y xtend (lado servidor). Con ayuda de una simulación de servidor gracias a Jetty y Xtrest.
                  <br><br>
                  <h3 class="content-head" >Point of interest</h3>Tiene como finalidad mediante el uso de servicios REST, el comunicarse con el servidor que contiene diversos puntos de interes para que el usuario pueda averiguar mediante un buscador información
                  relevante y poder dar su opinión respecto a cada punto que desee, compartiendo una puntuación que se generara por el conjunto de usuarios.<br>
                  Tambien se podra asignas como favoritos lo que permite al usuario tener el recordatorio de que puntos fueron de su interes, y pudiendo modificar este como su comentario.<br>
                  En la tabla de busquedas se podra visualizar si respecto a su posicion se encuentra cerca o no cada punto, como tambien si se encuentra disponible en este momento por si necesita acudir a ese lugar.<br>
                  Dentro de los detalles especificos se podra ver a que distancia exacta se encuentra y en la mayoria de los casos que horarios dispone.
                </div>
            </div>
            <h2 class="content-head is-center">SOFTWARE</h2>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h3 class="content-subhead">
                    <i class="fa fa-lock"></i>
                      Seguro<p class="saltoTablaIconos"></p>
                  </h3>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="content-subhead">
                      <i class="fa fa-cubes"></i>
                      Robusto<p class="saltoTablaIconos"></p>
                  </h3>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="content-subhead">
                      <i class="fa fa-circle "></i>
                      Simple<p class="saltoTablaIconos"></p>
                  </h3>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="content-subhead">
                      <i class="fa fa-thumbs-up  "></i>
                      Amigable<p class="saltoTablaIconos"></p>
                  </h3>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="content-subhead">
                    <i class="fa fa-pencil"></i>
                      Practico<p class="saltoTablaIconos"></p>
                  </h3>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="content-subhead">
                      <i class="fa fa-flash"></i>
                      Rapido<p class="saltoTablaIconos"></p>
                  </h3>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="content-subhead">
                      <i class="fa fa-apple "></i>
                      Moderno<p class="saltoTablaIconos"></p>
                  </h3>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="content-subhead">
                      <i class="fa fa-gamepad "></i>
                      Divertido<p class="saltoTablaIconos"></p>
                  </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
