  <div class="clear"></div>
    <!--Footer-->
    <footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div class="container-fluid ">
            <div class="row ">

                <!--Primera columna-->
                <div class="col-md-6 ">
                    <h5 class="title ">Points Of Interest</h5>
                    <p>Trabajo Práctico para plataforma web, ABMC de puntos de interés.</p>

                    <p><em>Registro obligatorio para poder acceder al sistema</em>.</p>
                    <p> Tiene como fin consultar diferentes puntos, y saber a qué distancia se encuentran, como también poder dar una opinión de ellos y tener tu propia lista de puntos de interés favoritos.
                    </p>
                </div>
                <!-- Fin Primera columna-->

                <hr class="hidden-md-up ">

                <!--Segunda columna-->
                <div class="col-md-2 offset-md-4">
                    <h5 class="title ">Integrantes:</h5>
                    <ul>
                        <li><a href="">Christian Juhal</a></li>
                        <li><a href="">Daiana Werner</a></li>
                        <li><a href="">Estefania Diaz Artucio</a></li>
                        <li><a href="">Julian Mosquera</a></li>
                        <li><a href="">Leonel Galizzi</a></li>
                    </ul>
                </div>
                <!--Fin Segunda columna-->

            </div>
        </div>
        <!-- Fin Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright ">
            <div class="container-fluid ">
                <a href="http://www.unsam.edu.ar" target="_blank">Unsam</a> © -
                <a href="http://algo3.uqbar-project.org/" target="_blank"> Algoritmos III </a> Grupo 3

            </div>
        </div>
        <!-- Fin Copyright-->

    </footer>
    <!-- Fin Footer-->
